<a href="https://colab.research.google.com/github/lm0911/un123/blob/main/python_exercise_question_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기본 연습 문제

* Q) 4400명의 사람이 모였는데, 이들을 대상으로 20명씩 조를 만들려고 한다. 이 때 생성되는 조의 수는 몇 개인가?

In [ ]:
4400 / 20

220.0

* Q) 4400명의 사람이 모였는데, 이들을 대상으로 30명씩 조를 만들려고 한다. 이 떄 생성되는 조의 수와 조에 편성이 안 되는 사람의 수는?

In [ ]:
#변수 설정 전체, 조
# 구하려는것이 2개 : 생성되는 조(몫), 남은 인원(나머지)

a = 4400 // 30
b = 4400 % 30

print('생성되는 조의 수는 {}조이며, 남은 인원은 {}명 입니다.'.format(a,b))

생성되는 조의 수는 146조이며, 남은 인원은 20명 입니다.

* Q)  국어 80점, 수학 55점, 영어 75점, 사회 80점 --> 이 사람의 평균을 구하는 코드를 작성하시오

In [ ]:
#방법 1) 과목별 점수 다 더하고 과목수로 나누기
#방법 2) 점수들에 대한 덩어리로 처리
#방법 3) 그외 여러방법
#--> 주어진 문제에대한 파이썬의 자료형을 본인이 정하기

#방법 1
#ko = 80
#math = 55
#english = 75
#social = 80

#avg = ()/4
#print('평균 {}'.format(avg))

#방법 2 과목별 점수들만 모아서

#num = [10,20,30,40]
#sum(num) / len(num)

man = {'국어':80, '수학':55, '영어':75, '사회':80}

aver = sum(man.values())/len(man)
print("{}의 평균점수는 {}점 입니다.".format('man',aver))

man의 평균점수는 72.5점 입니다.

* Q)  국어 80점, 수학 55점, 영어 75점, 사회 80점 --> 이 사람의 평균을 구하는 코드를 작성하시오   
(단, 이번에는 input을 활용하여 입력받는 점수를 바탕으로 평균을 구하세요!)

In [ ]:
a = int(input('한국어 점수를 입력해주세요.!!'))
b = int(input('수학 점수를 입력해주세요.!!'))
c = int(input('영어 점수를 입력해주세요.!!'))
d = int(input('사회 점수를 입력해주세요.!!'))

tot = a + b+ c + d
aver = tot / 4
print('4과목의 평균 점수는 {} 점 입니다.'.format(aver))

한국어 점수를 입력해주세요.!!20
수학 점수를 입력해주세요.!!30
영어 점수를 입력해주세요.!!50
사회 점수를 입력해주세요.!!70
4과목의 평균 점수는 42.5 점 입니다.

In [ ]:
subjects = ['국어', '수학', '영어', '과학']
zumsu = []
for sub in subjects:
    txt = sub+"점수를 입력하세요"
    zumsu.append(int(input(txt)))
print('과목평균',sum(zumsu)/len(zumsu))

국어점수를 입력하세요20
수학점수를 입력하세요30
영어점수를 입력하세요40
과학점수를 입력하세요50
과목평균 35.0

* Q) 주어진 수가 홀수인지, 아니면 짝수인지 판별할 수 있는 방법을 제시하여라.

In [ ]:

num = int(input("홀짝을 판단하고자 하는 수를 입력하세요.!"))
if num%2 == 0:#--> 비교연산자 주의
    print("짝수입니다.")
elif num%2 != 0:
    print("홀수입니다.")
else :
  print('입력한 수 다시 한번 확인')

홀짝을 판단하고자 하는 수를 입력하세요.!ㄱ

ValueError: ignored

* Q) 주어진 수가 홀수인지, 아니면 짝수인지 판별할 수 있는 방법을 함수로 만들어보세요~ -> 바로 위의 문제에 대해서 함수로 만들어 보라는 의미임!

In [ ]:
#입력 : 숫자 1개 입력
#무슨일 :입력한 숫자에 대한 홀짝 판별
#출력 : 결과를 문자열로 제공


def hol(num):
    if num%2 == 0:
        return '짝수'
    elif num%2 == 1:
        return '홀수'
    return

hol(40)

'짝수'

* Q) a = [1, 2, 3, 4,5]라는 리스트를 만들고, 여기에다가 append, insert를 활용하여 a= [1,2,"hello",4,5,"Hi","Monday"]를 만들어라

In [ ]:
a = [1,2,3,4,5]
a.pop(2)
a.insert(2, 'hello')
a.insert(5, ' Hi')
a.append('monday')
print(a)

[1, 2, 'hello', 4, 5, ' Hi', 'monday']

In [ ]:
#뒤에 한번에 붙이기
a = [1,2,3,4,5]
#a.append(['HI','Monday'])
a.extend(['HI','Monday'])
a

[1, 2, 3, 4, 5, 'HI', 'Monday']

In [ ]:
#더 간단하게
a = [1,2,3,4,5]
#a.append(['HI','Monday'])
#a.extend(['HI','Monday'])
a = a + ['HI','Monday'] #변수 재할당해줘야 출력 가능 안그러면 a에 대한 리스트만 출력됨.
a

[1, 2, 3, 4, 5, 'HI', 'Monday']

* Q) 10을 2로 나눈 몫하고 210을 3으로 나눈 몫하고 같은지 비교하시오!

In [ ]:
# a = (10 // 2)
# b = (210 // 3)
# if a == b:
#   print("나눈 몫은 {}으로 동일합니다.".format(a))
# else :
#   print("동일하지 않습니다.")

(10//2) == (210//3)
(10//2) != (210//3)

True

* Q) 12345를 4로 나눈 나머지하고, 54321을 2로 나눈 나머지하고 비교하시오!!!

In [ ]:
a = 12345 % 4
b = 54321 % 2
print('12345를 4로 나눈 나머지 {}, 54321을 2로 나눈 나머지 {}'.format(a,b))

12345를 4로 나눈 나머지 1, 54321을 2로 나눈 나머지 1

* a = [1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]] 에서 i를 접근해보세요. 정수 인덱스를 활용해서..

In [ ]:
#인덱스 활용, 불편한점 : 인덱스가 계속 하위단으로 물고 들어가는 점
#json 형식
a = [1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]]
for i in a:
  print(i)

TypeError: ignored

In [ ]:
a = [1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]]
a[3][3][1]

'hi'

* Q) a = ["a","b","c","d","e","f","g","h","i","j","k",1,2,3,4,5]  
1) :를 사용하여 a의 모든 값을  출력하세요  
2) :를 사용하여 a의 처음부터 5번째 까지 값을 출력하세요.  
3) :를 사용하여 a의 4번째부터 끝까지 값을 출력하세요.  
4) :를 사용하여 a의 2번째부터 6번째까지 값을 출력하세요.  
5) :를 사용하여 a의 홀수번째 위치한 값들을 출력하세요.  
6) :를 사용하여 a의 1,4,7,10번째 위치한 값들을 출력하세요!!

In [ ]:
#목적은 슬라이싱 --> numpy array, pandas DF, Series
# 여러개의 값을 접근할 때, 규칙이 있어야 한다
#구조는 []인덱스 자리에, [시작점 : 끝점 : 간격]
l = ["a","b","c","d","e","f","g","h","i","j","k",1,2,3,4,5]
a = l[:]
b = l[:6]
c = l[4:len(a)]
d = l[2:7]
e = list(range(0,len(l),2))
f = list(range(1,12,3))
tot = []
tot.extend([a,b,c,d,e,f])
for i in tot :
  print(i)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]
['a', 'b', 'c', 'd', 'e', 'f']
['e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]
['c', 'd', 'e', 'f', 'g']
[0, 2, 4, 6, 8, 10, 12, 14]
[1, 4, 7, 10]

* Q) a = {"A":90, "B":80,"C":70 } 이 중에서 "B"의 점수를 출력해보세요!

In [ ]:
# dict : 여러개의 값을 모아둔것
# 개별 값에 접근하는 방법 : [인덱스 == 키값]
a = {"A":90, "B":80,"C":70 }

print('B의 점수는 {} 입니다.'.format(a["B"]))

B의 점수는 80 입니다.

Q) a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 이 중에서 최고점과 최저점을 찾으세요!!!

In [ ]:
a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32}
# num = []
# num.extend(a.values())
# small = min(num)
# big = max(num)
# print('최고점은 : {1}, 최저점은 : {0}'.format(small,big))

min_val = min(a.values())
max_val = max(a.values())

for name, score in a.items():
  if score == min_val:
    print("최소점 학생은:{}".format(name))
  elif score == max_val:
    print("최고점 학생은:{}".format(name))
  else:
    pass

최소점 학생은:C
최고점 학생은:E

In [ ]:
a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32}
# max(a.values())
# min(a.values())
# for k in a.keys():
#   print(k)
# for v in a.values():
#   print(v)

# for k, v in a.items():
#   print(k)
#   print(v)

min_val = min(a.values())
max_val = max(a.values())


for person in a.items():
  #이름이 아니라 점수를 기준으로 비교
  if person[1] == min_val:
    print("최소점 학생은:{}".format(person))
  elif person[1] == max_val:
    print("최고점 학생은:{}".format(person))
  else:
    pass

최소점 학생은:('C', 10)
최고점 학생은:('E', 85)

In [ ]:
## 리스트에서 인덱스, 값 모두 할때 : enumerate / 딕셔너리에서는 items 잘 활용하기
a_list = ["a", "b", "c"]
for i, v in enumerate(a_list):
  print(i)
  print(v)

0
a
1
b
2
c

Q) a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 이 중에서 최고점과 최저점이 누구인지 찾으세요!!!

In [ ]:
a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 
b = max(a,key=a.get)
c = min(a,key=a.get)
print('최저값 : {} \n최대값 : {}'.format(c,b))

최저값 : C
최대값 : E

In [ ]:
#
a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32}

*Q) 1부터 20까지 모든 수를 출력하는 프로그램을 만드세요(for/range)

In [ ]:
for i in range(0,21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

* Q) "hello_1", "hello_2", ..., "hello_20"까지 출력하는 프로그램을 만드세요(for 사용)

In [ ]:
for i in range(1,21) :
  print('hello_{}'.format(i))

hello_1
hello_2
hello_3
hello_4
hello_5
hello_6
hello_7
hello_8
hello_9
hello_10
hello_11
hello_12
hello_13
hello_14
hello_15
hello_16
hello_17
hello_18
hello_19
hello_20

* Q) a = ["one","two","three","four"] 과 for문을 이용하여
b = ['one1', 'two2', 'three3', 'four4']을 만드세요.  
1) for& range 방법   
2) for & a 바로 방법   
2가지 방식으로 하세요!!!

['one1', 'two2', 'three3', 'four4']

* Q) 1번/2번 학생의 시험 점수를 리스트로 만들고, 이에 대한 평균을 구하시오.  
예: a = [10,20,30,40], b=[50,20,10,13]에 대해서, 각기 평균을 구하시오!   
단, 시험 점수가 변동이 생길 수 있고, 시험 과목도 변동이 생길 수 있으니 a/b 중심으로 코드를 구현하세요!

46.0
46.0

* Q)  a = ["Life", "is","too", "short", "you","need","python"] a 리스트를 화룡해서 yoo too 출력해보기!!!

you too

* Q) ["Life", "is", "too","short"]라는 리스트를 활용해서 Life is too short 이라는 문장 만들기!!!

Life is too short

* Q)  a = [1,2,3,4,5,6] 이 리스트의 원소의 갯수는?

In [ ]:
a = [1,2,3,4,5,6]
len(a)

6

* Q) a [ 1,2,3,4,5]라는 리스트를 [1,3,5]로 만들기!!!

In [ ]:
a = [1, 2, 3, 4, 5]
e = list(range(1,len(a)+1,2))
print(e)

[1, 3, 5]

* Q) a = 10 양수, 음수, 0인지 판단을 하고 싶다!! --> 완성 후에는 input을 활용하여 하는 것으로 추가 구현

In [ ]:
a = int(input('0,양수,음수인지 알고싶은 숫자를 입력하시오.>>'))
if a > 0 :
  print('양수')
elif a < 0 :
  print('음수')
else :
  print('0')

0,양수,음수인지 알고싶은 숫자를 입력하시오.>>32
양수

* Q1) 입력받은 양의 정수(자연수) 홀수/짝수인지 판단을 하고, 그 결과를 출력해주세요!!

In [ ]:
while True :
  num = int(input('홀/짝을 판단하고자 하는 수를 입력하세요!!!>>'))
  if num%2 != 0 :
    print('홀수입니다.')
  elif num%2 == 0 :
    print('짝수입니다.')

홀/짝을 판단하고자 하는 수를 입력하세요!!!>>66
짝수입니다.
홀/짝을 판단하고자 하는 수를 입력하세요!!!>>11
홀수입니다.
홀/짝을 판단하고자 하는 수를 입력하세요!!!>>33
홀수입니다.
홀/짝을 판단하고자 하는 수를 입력하세요!!!>>0
짝수입니다.
홀/짝을 판단하고자 하는 수를 입력하세요!!!>>0
짝수입니다.
홀/짝을 판단하고자 하는 수를 입력하세요!!!>>ㅇ

ValueError: ignored

* Q) * Q2) A라는 사람이 5000원의 돈을 가지고 있고, 카드는 없다.  
A의 상태는   
money = 5000  
card = False  
이 사람이 목적지까지 택시를 타고 가려고 한다.
목적지까지 가기 위해서는 카드를 소유하고 있거나, 4000원 이상의 현금을 가지고 있어야 한다.
A 는 이 목적지까지 갈 수 있는지 판단해보세요!!!

In [ ]:
#A의 상태는
money = 5000
card = False
if card == True :
  print('갈수있다.')
elif money >= 4000 :
  print('갈수있다.')
else :
  print('걸어가라')

갈수있다.

* Q) 입력을 받은 자연수에 대해서 몇 자리 수인지 판단하세요!!!(최대 9999까지)

In [ ]:
num = int(input('숫자를 입력하세요.>>'))
print('입력하신 자리 수는 {}자리 수 입니다.'.format(len(str(num))))

숫자를 입력하세요.>>857493902
입력하신 자리 수는 9자리 수 입니다.

* Q) a = 10, b = 20을 가지고, a=20, b=10이라고 서로 수를 바꾸는 프로그램을 작성하시오!!!

In [ ]:
a = int(input('a값 입력 :'))
b = int(input('b값 입력 :'))
a,b = b,a
print('변환되는 a값:', a)
print('변환되는 b값:', b)

a값 입력 :12
b값 입력 :21
변환되는 a값: 21
변환되는 b값: 12

* Q) kg에 대한 값을 g으로 변환하는 프로그램을 작성하시오(예:1.2kg => 1200g)

입력하세요[kg]!!!1.2
1200.0

* Q) g에 대한 값을 kg으로 변환하는 프로그램을 작성하시오!(예:1200g ==> 1.2kg)

입력하세요[g]!!!1234
1.234

* Q)  3개의 수에 대해서, 가장 큰 수를 찾는 프로그램을 작성하시오!!!
(예를 들면, 10, 20, 17이라는 3개의 수가 있다고 하면, 이 중에서 제일 큰 수 20을 찾는 프로그램)

20

* Q) 1부터 100까지 합!!!!

5050

* Q) 1부터 100까지 곱!!

9801

* Q) 시험 성적 점수 [90, 80,35,24,65,74,93]  
시험 통과가 60점 이상이라고 할 때,
몇 번째 학생이 통과했는지 알려주세요!!!!!

1
2
5
6
7

* Q) ["A","B","A","O","AB","AB","O","A","B","AB"] 이러한 혈핵형을 가지고 있을 때, for문을 이용해서 각 혈핵형별로 몇 명인지 총 인원을 구하세요!!!!

3
2
2
3

* Q) [1,2,3,4,5,6,7,8,9,10,11,12] 중에서 홀수만 골라서  
3을 곱하는 결과를 나타내시오!!!!

3
9
15
21
27
33

* Q) 구구단 2단, 3단, ..., 19단까지 결과를 출력하세요!!!

In [8]:
for i in range(2,20):
  for j in range(1,10):
    t = i*j
    print("{} x {} = {}".format(i,j,t))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171

* Q) 100 까지 소수를 모두 찾아보세요!!!!

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

* Q) 두 수 54, 24의 최대공약수, 공약수를 구해보세요!!!

첫번째 수를 입력하세요 : 54
두번째 수를 입력하세요 : 24
54와 24의 공약수는 [1, 2, 3, 6]
6

*Q) @@@@@ 을 출력하세요!!!

In [16]:
for _ in range(5):
  print("@", end="")

@@@@@

* Q)   
@@@@@  
@@@@@  
@@@@@  
@@@@@

In [17]:
for _ in range(5):
  print("@"*5)

@@@@@
@@@@@
@@@@@
@@@@@
@@@@@

In [21]:
for _ in range(5):
  for _ in range(5):
    print('@', end='')
  print("")

@@@@@
@@@@@
@@@@@
@@@@@
@@@@@

@
@@
@@@
@@@@
@@@@@

* Q) 위의 그림을 만드세요

In [38]:
for i in range(1,6):
  print("@"*i)

@
@@
@@@
@@@@
@@@@@

@@@@@
 @@@@
  @@@
   @@
    @

* Q) 위의 그림을 만드세요!!!

In [44]:
for i in range(0,5):
  print(""*i + "@"*(5-i))

@@@@@
@@@@
@@@
@@
@

    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@

* Q) 위의 그림을 만드세요!

In [94]:
for i in range(0,9):
  print(" "*i + "@"*(2*(9-i)+1))

@@@@@@@@@@@@@@@@@@@
 @@@@@@@@@@@@@@@@@
  @@@@@@@@@@@@@@@
   @@@@@@@@@@@@@
    @@@@@@@@@@@
     @@@@@@@@@
      @@@@@@@
       @@@@@
        @@@

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

* Q) 위의 그림을 만드세요

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

1
22
333
4444
55555
666666
7777777
88888888
999999999

* 위와 같은 결과를 만드세요

In [102]:
for i in range(1,10):
  print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

* Q) 학생의 점수을 입력을 받아서, 그 점수에 해당하는 학점을 출력을 하고, 그 학점이 A는 "참 잘했습니다", B는 "잘 했습니다.", C는 "좀 더 노력하세요", D는 "재수강을 권장합니다", F는 "꼭 다시 들으세요!!!"로 판별해주기.  
단, F: 40점 미만, D:40점 이상~60점 미만, C : 60이상~80점 미만, B:80이상~90점 미만, A:90점 이상 이상

* 한 점을 구성하는 (x,y)의 좌표를 입력받고, 이 점이 (50,40), (50,80), (100,40), (100,80)을 꼭지점으로 하는 사각형 안에 있는지 판단하세요!!!

x의 값을 입력하세요10
y의 값을 입력하세요22
밖에 있습니다.

* Q) 입력한 수의 각 자리수를 더하는 프로그램을 작성하시오.  
예 : 12345--> 1+2+3+4+5=15

입력하세요!!!2345
14

* Q) a,b,c가 자연수 일때, a + b + c = 100을 만족하는 중복되지 않는 세 자연수의 개수를 구하는 프로그램을 작성하시오. 예를 들어서(30,40,30)은 (40,30,30)과 같은 경우라고 한다!!!!

833

* Q) 1부터 100까지의 나열 할 때 1~9까지 숫자는 각각 몇 번 나타나는지를 세어 보세요!!!

0 : 11
1 : 21
2 : 20
3 : 20
4 : 20
5 : 20
6 : 20
7 : 20
8 : 20
9 : 20

* Q) a = [20,55,67,82,45,33,90,87,100,25]점수일 때, 50점 이상인 점수들의 합!!!!!   
방법 1 : for/ range사용,  
방법 2 : for/ 직접 값 사용,  
방법 3 : while사용

In [119]:
a = [20,55,67,82,45,33,90,87,100,25]
# tot = 0
# for i in range(len(a)):
#   if a[i] >= 50:
#     tot += a[i]
#   else:
#     pass
# print(tot)

# tot = 0
# for i in a:
#   if i >= 50:
#     tot += 1
#   else :
#     pass

# sum([i for i in a if i >= 50])    

tot = 0
cnt = 0
len_a = len(a)
# 이 상황에서는 a의 접근 인덱스로 활용 가능
while cnt <len_a:
  if a[cnt] >= 50:
    tot += a[cnt]
  else:
    pass
  cnt += 1
print(tot)

481

* Q) 1부터 100까지 3의 배수들의 합!!!!! for

* Q)1부터 100까지 3의 배수들의 합!!!!! while

* 야구 게임 : 1S 1B 1O에 대한 것을 만들어 보시오. 다만 처음에 하기 위해서는 random으로 시작을 해야함!!! -> 단, 처음에 지정하는 3개의 숫자는 동일하지 않음!!!3개의 수는 서로 다 다르다!

In [136]:
from random import randint
while True :
  # 숫자 3개를 각 변수로 세팅
  a = randint(1,9)
  b = randint(1,9)
  c = randint(1,9)
  if a != b and a!=c and b!=c:
    break
while True : #사용자가 맞추는 부분
#필요한 변수가 몇 볼, 몇 스트라이크인지
  ball = 0
  strike = 0
  #사용자에게 입력할 수는?
  p = int(input("첫번째 생각한 수를 입력하세요,"))
  q = int(input("두번째 생각한 수를 입력하세요,"))
  r = int(input("세번째 생각한 수를 입력하세요,"))
  #판별 --> 종료
  if (a == p) and (b == q) and (c==r):
    print("축하합니다.")
    break
  #볼에 대해서 처리
  if (a==q) or (a==r) :
    ball  += 1
  else :
    pass
  if (b==p) or (b==r):
    ball += 1
  if (c==q) or (c==r):
    ball += 1
  #스타라이크에 대해서 처리
  if a == p:
    strike += 1
  if b == q:
    strike += 1
  if c == r:
    strike += 1

  print("ball:", ball, "strike:", strike)

첫번째 생각한 수를 입력하세요,134
두번째 생각한 수를 입력하세요,2
세번째 생각한 수를 입력하세요,3
ball: 1 strike: 0
첫번째 생각한 수를 입력하세요,1
두번째 생각한 수를 입력하세요,5
세번째 생각한 수를 입력하세요,3
ball: 0 strike: 0
첫번째 생각한 수를 입력하세요,2
두번째 생각한 수를 입력하세요,4
세번째 생각한 수를 입력하세요,5
ball: 1 strike: 0
첫번째 생각한 수를 입력하세요,6
두번째 생각한 수를 입력하세요,

ValueError: ignored

* Q)숫자 up/down으로 1~100까지 수 중에서 알아 맞추기!!! random이용!!!

In [ ]:
import random

1~100 숫자 Up & Down 게임을 시작합니다 !!!
---------------------------
1 ~ 100 사이의 숫자를 입력하세요 : 30
Down
1 ~ 100 사이의 숫자를 입력하세요 : 155
Down
1 ~ 100 사이의 숫자를 입력하세요 : 15
Down
1 ~ 100 사이의 숫자를 입력하세요 : 8
Down
1 ~ 100 사이의 숫자를 입력하세요 : 4
Down
1 ~ 100 사이의 숫자를 입력하세요 : 2
---------------------------
6 번 만에 정답을 맞추셨습니다.

* Q) 1부터 입력받은 수까지 "합의 제곱"의 결과와 "제곱의 합"과의 차이를 구하시오!!!    
합의 제곱 : 1^2 + 2^2 + ... + 10^2 = 385   
제곱의 합 : (1+2+3..+10)^2 = 3025

입력하세요!!!10
2640

* Q)  핸드폰 번호 뒤에 4자리만 남기고, 앞의 7자리에 대한 것을 *로 지워보세요!!! (함수 만들어서!!!)

In [ ]:
encryfunc("010-1234-5678")

'*********5678'